[Unit]
Description=Boops Client Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boops sync
User=root
Group=root
WorkingDirectory=/etc/boops
