[Unit]
Description=Runs Boops Client every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Unit=boops.service

[Install]
WantedBy=timers.target
