[Unit]
Description=Boops Client Service
After=network.target

[Service]
ExecStart=/usr/local/bin/boops sync
#Restart=always
Restart=no
User=root
Group=root
WorkingDirectory=/etc/boops
